.container{
  border: 1px solid grey;
  .profileWrap{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .profileInfo{
      .profileInfoItem{
        display: flex;
        align-items: flex-start;
        h3{
          width: 100px;
        }
        p{
          width: 200px;
        }
      }
    }
  }
}