.dashboard__head_wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0px rgb(0 0 0 / 12%);
  transition: 0.4s;

  .dashboard__head {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 10px 20px 10px 90px;
    background: #1976d2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    .burgerMenu {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      span {
        width: 25px;
        height: 3px;
        background: white;
        transition: .4s;

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }

      &:hover {
        span {
          margin-left: 15px;
        }

        span:nth-child(1) {
          transform: rotate(40deg);
        }

        span:nth-child(3) {
          transform: rotate(-40deg);
        }

        span:nth-child(2) {
          margin-right: 20px;
          width: 35px;
        }
      }
    }

    .logo {
      width: 120px;

      img {
        width: 100%;
      }
    }
    .work_now{
      position: relative;
      .work_now_icon{
        //position: relative;
        width: 45px;
        height: 45px;
        cursor: pointer;
        //padding: 5px;
        //font-size: 17px;
        //color: #f3f3f3;
        //border: none;
        //background: #336db7;
        //box-shadow: 0 0 2px black;
        &::after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 15px;
          background: red;
        }
      }
    }
  }

  &.active {
    .dashboard__head {

      .burgerMenu {
        span {
          margin-left: 5px;
          margin-right: 15px;
        }

        span:nth-child(1) {
          transform: rotate(-40deg);
        }

        span:nth-child(3) {
          transform: rotate(40deg);
        }

        span:nth-child(2) {
          margin-right: 0;
          margin-left: 10px;
          width: 35px;
        }
      }

    }
  }
}

