.elem {
  color: #757575;
  text-decoration: none;
  transition: 0.4s;
  .elemWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 10px;

    .icon {
      margin-right: 20px;
    }
    .label{
      h4{
        white-space: nowrap;
      }
    }
  }
  &:hover{
    color: #007cff;
  }
  &.active{
    color: #007cff;
  }
}
.elem.new{
  color: #d91e1e;
}
