.dashBoardSidebar__wrap{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 64px;
  border-right: 2px solid #ececec;
  padding: 85px 20px 20px;
  overflow: hidden;
  transition: .4s;
  .dashBoardSidebar{
    min-width: 130px;
  }
}