.info {
  .infoItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #757575;
    &.children{
      align-items: flex-start;
      p{
        margin-bottom: 10px;
      }
    }

    h3 {
      width: 150px;
    }

    p {
      width: 150px;
    }
  }

  .infoItem.edit {
    display: none;
    flex-wrap: wrap;

    .MuiOutlinedInput-input {
      padding: 12px 15px;
      width: 150px;
    }

    .MuiTextField-root:nth-child(3) {
      margin-left: 150px;
    }

    .MuiTextField-root:nth-child(4) {
      margin-left: 150px;
    }

    &.child {
      width: 335px;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;

      h3 {
        text-align: center
      }

      .childWrap {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        .addChild {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-left: 10px;
          .childBtn{
            width: 22px;
            height: 22px;
            cursor: pointer;
          }
        }
      }
    }
  }
.addChildren{
text-align: center;
  display: none;
}
  .popUpBtns {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
  }
}