.container.projects-time {

  .navigations{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .content{
    .user_time_info{
      margin-top: 30px;
      .item_user {
        display: flex;
        border: 1px solid black;
        .user_info{
          display: flex;
          align-items: center;
          width: 200px;
          border: 1px solid black;
          .avatar {
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            img{
              width: 100%;
            }
          }
        }
        .user_content{
          width: 100%;
          .time_lines{
            width: 100%;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            .line{
              position: absolute;
              background: #30fd00;
              height: 50%;
              border-radius: 6px;
            }
            .sub_line{
              height: 100%;
              width: 100%;
              border: 1px solid black;
              p{
                font-size: 7px;
              }
            }
          }
        }
      }
    }

  }
}