.project-info{
  .project_name{
    padding: 10px;
    p{
      text-decoration: underline;
      font-size: 24px;
      font-weight: bold;
    }
  }
  .content{
    display: flex;
    .user_time_project{
    display: flex;
    align-items: center;
    .user_info{
      display: flex;
      align-items: center;
      .avatar{
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        img{
          width: 100%;
        }
      }
    }
  }
    .diagram{
      display: flex;
      width: 100%;
    }
  }
}