.users {
  .container {
    .users-wrap {
      margin: 0 auto;
      max-width: 1400px;

      .alerts {
        position: fixed;
        top: -200px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.7);
        -webkit-backdrop-filter: saturate(180%) blur(17px);
        backdrop-filter: saturate(180%) blur(10px);
        flex-wrap: wrap;
        padding: 50px 100px;
        font-size: 20px;
        font-weight: 600;
        z-index: 2;
        border-radius: 3px;

        &.success {
          animation-name: showAlert;
          animation-duration: 2s;
          animation-delay: 0.2s;
          display: flex;
        }

        &.error {
          animation-name: showAlert;
          animation-duration: 2s;
          animation-delay: 0.2s;
          display: flex;
        }

        &.warning {
          animation-name: showAlert;
          animation-duration: 2s;
          animation-delay: 0.2s;
          display: flex;
        }

        @keyframes showAlert {
          0% {
            top: -200px;
          }
          20% {
            top: 100px;
          }
          80% {
            top: 100px;
          }
          100% {
            top: -200px;
            display: none;
          }
        }
      }

      .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .content {
        .items {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: wrap;
          column-gap: 40px;
          row-gap: 40px;
        }
      }
    }
  }
}