.tasks{
  width: 100%;
  color: #757575;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;

  .addNewTasksGroup{
    .addTasksGroupBtn{
      margin-bottom: 10px;
    }
  }

}