.tasksGroup {
  position: relative;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.74);
  margin-bottom: 15px;

  .editIcon, .saveBtn {
    opacity: 0;
    line-height: 19px;
    font-size: 14px;
    position: absolute;
    padding: 4px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
    background: #EDC939;

    &:hover {
      fill: white;
    }
  }
  .saveBtn{
    opacity: 1;
    padding-left: 5px;
  }

  .tasksGroupHeader {
    background: transparent;
    width: 100%;

    position: relative;
    padding: 5px;
    z-index: 1;

    .creatorName {
      justify-self: flex-end;
      h5{
        font-weight: 400;
      }
    }

    .taskGroupName {
      justify-self: flex-start;
      margin: 5px 0;

      &:hover{
        .editIcon{
          opacity: 1;
        }
      }

      .nameFieldWrap{
        position: relative;

        .editIcon, .saveBtn {
          top: 6px;
          right: 6px;
        }

        .nameField {
          padding: 10px 30px 10px 5px;
          position: relative;
          line-height: 22px;
          resize: none;
          width: 100%;
          border: none;
          color: #383838;
          min-width: fit-content;
          display: block;
          font-size: 1.17em;
          font-weight: bold;
          border-radius: 3px;
          font-family: "Poppins", sans-serif;
          background: transparent;
        }
      }
    }

    .numberOfTasks {
      display: flex;

      .showBtn {
        text-transform: none;
        background: #EDC939;
        width: 120px;
        min-width: 120px;
        padding: 2px 4px;
        font-size: 10px;
        height: 16px;
        margin: 0 5px 3px 5px;
        &:hover{
          background: white;
        }
      }

      .addTask {
        text-transform: none;
        background: #EDC939;
        width: 120px;
        min-width: 120px;
        padding: 2px 4px;
        font-size: 10px;
        height: 16px;
        margin: 0 5px 3px 5px;
        &:hover{
          background: white;
        }
      }
    }

    .progress_line {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: rgba(0, 0, 0, 0.2);
      border-radius: 7px;
      top: 0;
      left: 0;
      font-size: 80px;
      font-weight: 900;
      z-index: -1;
    }
  }

  .allTasksProject {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .delTask {
    position: absolute;
    right: 5px;
    bottom: 5px;
    transition: 0.2s;
    z-index: 1;

    &:hover {
      fill: #EDC939;
      transform: scale(1.2);
    }
  }

  .warning {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
      font-size: 32px;
    }

    .btns {
      .btn {
        margin: 5px;
      }
    }
  }
}

