.clients {
  .container {
    padding: 20px;
    .actions {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
    }
    .navigation {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .action_wrap{
        display: flex;
        align-items: center;
        .MuiFormControl-root{
          margin-right: 20px;
        }
        .MuiInputBase-root{
          height: 46px;
        }
      }
      .search_wrap{
        .MuiInputBase-root{
          height: 46px;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      .headers {
        display: flex;
        justify-content: space-between;
        .id {
          width: 40px;
        }
        div {
          background: #cacaca;
          border: #1976d2 1px solid;
          width: 100%;
        }
        .check_all {
          width: min-content;
        }
      }
      .result{
        .row {
          display: flex;
          justify-content: space-between;
          div {
            border: black 1px solid;
            width: 100%;
          }
          .id_result {
            width: 40px;
          }
          .check {
            width: min-content;
          }
        }
        .grey{
          background: #757575;
        }
        .white{
          background: #f3f3f3;
        }
      }

    }

  }

  .popup_add_wrap {
    display: none;
    position: fixed;
    padding: 50px;
    background: #f3f3f3;
    z-index: 10;

    .fields {
      display: flex;
      flex-direction: column;
    }
    .button_group {
      display: flex;
      justify-content: space-around;
    }
  }
  .popup_add_wrap.active {
    display: block;
  }

}