.clients {
  //background: rgba(255, 255, 255, 0.7);
  //-webkit-backdrop-filter: saturate(180%) blur(17px);
  //backdrop-filter: saturate(180%) blur(17px);
  //box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0px rgb(0 0 0 / 12%);

  .container {
    padding: 0 20px 20px;

    .clientsWrap {
      margin: 0 auto;
      max-width: 1200px;

      .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;

        .createNewClient {
          opacity: 0;
          transform: scaleX(0.2);
          transform-origin: right;
          transition: .4s;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .createNewClientFields {
            display: flex;
            margin-right: 20px;

            input:first-child {
              margin-right: 10px;
            }
          }

          .button_group {
            display: flex;
            justify-content: space-around;

            button:first-child {
              margin-right: 10px;
            }
          }

          &.active {
            transform: scaleX(1);
            opacity: 1;
          }
        }
      }

      .navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .action_wrap {
          display: flex;
          align-items: center;
          width: fit-content;

          .MuiFormControl-root {
            margin-right: 20px;
          }

          .MuiInputBase-root {
            height: 46px;

            &::after {
              width: 0;
              height: 0;
            }

            &::before {
              width: 0;
              height: 0;
            }

            .MuiSelect-root {
              font-size: 16px;
              font-weight: 600;
              color: white;
            }

            svg {
              fill: white;
            }
          }
          &.action{
            min-width: 200px;
          }
          &.addClient{
            min-width: 150px;
          }
        }

        .search_wrap {
          width: 100%;
          margin: 0 20px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }

      .content {
        display: flex;
        flex-direction: column;

        .headers {
          background: #383838;
          height: 40px;
          display: flex;
          border: 1px solid #383838;
          border-radius: 3px 3px 0 0;

          div {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 10px;
            color: white;

            &:not(:last-child) {
              border-right: 1px solid #383838;
            }
          }

          .id {
            width: 100px;
            justify-content: center;
          }

          .check_all {
            width: 80px;
            justify-content: center;
          }
        }

        .result {
          .row {
            height: 40px;
            display: flex;
            border: 1px solid #383838;
            border-top: none;
            transition: .4s;
            &:last-child{
              border-radius: 0 0 3px 3px;
            }

            &:hover {
              background: #c7c7c7;
            }

            div {
              display: flex;
              align-items: center;
              width: 100%;
              padding: 10px;

              &:not(:last-child) {
                border-right: 1px solid #383838;
              }
            }

            .id_result {
              width: 100px;
              justify-content: flex-end;
            }

            .check {
              width: 80px;
              justify-content: center;

              .input_check {
                cursor: pointer;
              }
            }
          }

          .grey {
            background: rgba(255, 255, 255, 0.9);
          }

          .white {
            background: rgba(255, 255, 255, 0.95);
          }
        }
      }
    }
  }
}