.users_times{
  .table{
    display: flex;
    flex-direction: column;
    .user_item{
      display: flex;
      .user_meta{
        min-width: 140px;
        border: 1px green solid;
      }
      .user_time_meta{
        width: 100%;
        display: flex;
        .itm{
          border: 1px blue solid;
          padding: 20px 3px;
          font-size: 10px;
          position: relative;
          .day_{
            position: absolute;
            top: 2px;
          }
        }
      }
    }
  }
}