.statute {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 30px 90px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%),
  0 4px 5px 0 rgb(0 0 0 / 14%),
  0 1px 10px 0px rgb(0 0 0 / 12%);

  .editorWrap {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    margin-bottom: 5px;

    .editor {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #9b9b9b;
    }
  }

  .statuteContent {
    .statuteEdit {
      .statuteEditBtns {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          margin: 5px;
        }
      }
    }

    .statuteShow {
      position: relative;

      //p {
      //  margin-bottom: 1rem;
      //}

      .editBtn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #cfcfcf;
        transition: background-color 0.2s;

        &:hover {
          background: #8d8d8d;

          svg {
            fill: white;
          }
        }

        &:active {
          box-shadow: 0 0 5px red;
        }
      }
    }
  }
}