.projects {

  .container {

    .navigation {
      margin-bottom: 20px;
    }

    .projects_wrap {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      a{
        text-decoration: none;
      }

      .project {
        position: relative;
        color: #757575;
        width: 325px;
        height: 200px;
        padding: 15px 25px;
        background: white;
        border-radius: 10px;
        margin: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.4s cubic-bezier(0.45, -0.67, 0.53, 1.63);
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0px rgb(0 0 0 / 12%);

        .users {
          min-height: 40px;
          height: 40px;
          display: flex;
          justify-content: flex-end;

          .userWrap {
            position: relative;

            .user {
              width: 40px;
              height: 40px;
              align-items: center;
              display: flex;
              border-radius: 50%;
              overflow: hidden;
              margin-right: -7px;
              transition: 0.4s;

              &:hover {
                transform: scale(1.2);
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }

            .userName {
              position: absolute;
              top: 100%;
              left: 0;
              background: #5d5d5d;
              padding: 2px 5px;
              color: white;
              font-weight: 900;
              border-radius: 5px;
              opacity: 0;
              transition: 0.4s;
              transition-delay: 0.3s;
              transform-origin: left top;
              transform: scale(0.1);
            }

            &:hover {
              .userName {
                transform: scale(1);
                opacity: 1;
              }
            }
          }
        }

        &:hover {
          //transform: scale(1.02);
          box-shadow: 0 7px 15px 5px rgb(0 0 0 / 20%), 0 7px 9px 0 rgb(0 0 0 / 7%), 0 9px 6px 0px rgb(0 0 0 / 25%);
        }
      }
    }
  }
}