.projects {

  .container {

    .navigation {
      margin-bottom: 20px;
    }

    .projects_wrap {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      a {
        text-decoration: none;
      }
    }
  }
}