.projects {

  .container {

    .navigation {
      margin: 0 auto 20px;
      max-width: 1400px;
    }

    .projects_wrap {
      margin: 0 auto;
      max-width: 1400px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      a {
        text-decoration: none;
      }
    }
  }
}