.userMenu {
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 20px;
    margin-right: 20px;
    color: white;
  }

  .userAva {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      bottom: -1px;
      right: -5px;
      width: 7px;
      height: 4px;
      background: white;
      transition: 0.4s;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
    }

    &.active:after {
      transform: rotate(180deg);
    }

    .userMenu {
      position: absolute;
      right: -4px;
      top: -500%;
      z-index: -1;
      border-radius: 4px;
      background: white;
      transition: 0.4s;
      box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0px rgb(0 0 0 / 12%);

      .userMenuItems {
        padding: 10px 20px;
        cursor: initial;

        .userMenuItem {
          display: flex;
          align-items: center;
          cursor: pointer;

          &:not(:last-child) {
            margin-bottom: 12px;
          }

          .userMenuIcon {
            color: #242424;
            margin-right: 10px;
          }
        }
      }
    }

    &.active {
      .userMenu {
        animation: showMenu 0.6s forwards ease-in-out;
      }

      @keyframes showMenu {
        25% {
          z-index: -1;
        }
        75% {
          top: 300%;
          z-index: -1;
        }
        100% {
          top: 110%;
          z-index: 1;
        }
      }
    }
  }
}