*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #757575;
}

.container{
  margin-top: 80px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}