@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #141414;
  color: #292929;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

a{
  color: #383838;
  text-decoration: none;
  transition: 0.2s;
  &:hover{
    color: rgba(56, 56, 56, 0.7);
  }
}

button.btn, button.MuiButtonBase-root {
  background: #EDC939;
  padding: 6px 30px;

  .MuiButton-label {
    color: #292929;
  }
  &:hover{
    //background: #d5b32b;
    background: white;
  }
  &.MuiButton-contained.Mui-disabled{
    background-color: rgba(237, 201, 57, 0.5);
  }
}

input{
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  outline: none;
  border: 1px solid white;
  background: transparent;
  &::placeholder{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }
}

.container{
  margin: 80px auto 0;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #383838;
  padding: 2px;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #EDC939;
  height: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}